<section class="exercises">
  <div class="exercises__block container">
    <div class="exercises__heading-wrap exercises__nav">
      <h2 class="exercises__title">Exercises</h2>
      <h3 class="exercises__categories-subtitle"><span></span></h3>
      <!-- Input-search -->
      <div class="exercises__input-div is-hidden">
        <!-- <label class="exercises__input-label" for="input-search"></label> -->
        <form id="exercises__search-form">
          <input
            id="input-search"
            type="text"
            name="filter-search"
            placeholder="Search"
            class="exercises__filter-search-input"
            autocomplete="off"
          />

          <button class="exercises__form-submit-btn" type="submit">
            <svg class="exercises__form-submit-btn-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-search"></use>
            </svg>
          </button>

          <button class="exercises__form-reset-btn">
            <svg class="exercises__form-reset-btn-icon" width="18" height="18">
              <use href="./img/icons.svg#modalclose"></use>
            </svg>
          </button>
        </form>
      </div>
      <!---->
      <ul class="exercises__filter-list">
        <li class="exercises__filter-item">
          <button class="exercises__filter-btn active-filter">
            Body parts
          </button>
        </li>

        <li class="exercises__filter-item">
          <button class="exercises__filter-btn">Muscles</button>
        </li>

        <li class="exercises__filter-item">
          <button class="exercises__filter-btn">Equipment</button>
        </li>
      </ul>
    </div>

    <ul class="exercises__filter-cards-list"></ul>
    <ul class="exercises__cards-list"></ul>

    <ul class="exercises__pagination"></ul>
  </div>
</section>
