<!--Modal window -->

<div class="backdrop is-hidden js-backdrop" data-exmodal>
  <div class="exercise-modal">
    <button
      class="exercise-modal__close-btn close-btn"
      type="button"
      data-exmod-close
    >
      <svg class="exercise-modal__close-icon close-icon">
        <use href="./img/icons.svg#modalclose" width="24" height="24"></use>
      </svg>
    </button>

    <div class="exercise-modal__content"></div>

    <ul class="exercise-modal-button">
      <li class="exercise-modal_item">
        <button type="button" class="exercise-modal-button__remove">
          Remove from favorites
          <span>
            <svg
              class="exercise-modal-button__remove-icon"
              width="20"
              height="20"
            >
              <use href="./img/icons.svg#icon-trash"></use>
            </svg>
          </span>
        </button>
      </li>

      <li class="exercise-modal_item">
        <button
          type="button"
          data-exmod-open
          class="exercise-modal-button__favorite"
        >
          Add to favorites
          <span>
            <svg class="modal-exercise-heart-icon">
              <use
                href="./img/icons.svg#icon-heart"
                width="18"
                height="18"
              ></use>
            </svg>
          </span>
        </button>
      </li>

      <li class="exercise-modal_item">
        <button type="button" class="exercise-modal-button__rating">
          Give a rating
        </button>
      </li>
    </ul>
  </div>
</div>
