<section class="exercises">
  <div class="exercises__block container">
    <div class="exercises__heading-wrap exercises__nav">
      <h2 class="exercises__title">Exercises</h2>

      <ul class="exercises__filter-list">
        <li class="exercises__filter-item">
          <button class="exercises__filter-btn active-filter">
            Body parts
          </button>
        </li>

        <li class="exercises__filter-item">
          <button class="exercises__filter-btn">Muscles</button>
        </li>

        <li class="exercises__filter-item">
          <button class="exercises__filter-btn">Equipment</button>
        </li>
      </ul>
    </div>

    <ul class="exercises__filter-cards-list"></ul>
    <!-- <ul class="exercises__cards-list"></ul> -->

    <ul class="exercises__pagination">
      <li class="exercises__pagination-item">
        <button
          type="button"
          class="exercises__pagination-btn exercises__pagination-btn_active"
        >
          1
        </button>
      </li>
      <li class="exercises__pagination-item">
        <button type="button" class="exercises__pagination-btn">2</button>
      </li>
      <li class="exercises__pagination-item">
        <button type="button" class="exercises__pagination-btn">3</button>
      </li>
    </ul>
  </div>
</section>
