  <div class="backdrop is-hidden" data-modal>
    <form class="modal-form">
        <label class="modal-label" for="user-email">Email</label>
          <div class="modal-type-form">
            <input
              class="modal-input"
              type="email"
              id="user-email"
              name="user-email"
            />
            <svg class="svg-modal" width="24" height="24">
              <use href="./images/icons.svg#icon-email-black"></use>
            </svg>
          </div>
        </div>
        <div class="modal-type-textarea">
          <label class="modal-label" for="user-comment">Your comment</label>
          <textarea
            placeholder="Text input"
            id="user-comment"
            name="user-comment"
            class="modal-textarea"
          ></textarea>
        </div>
        <button class="modal-btn" type="submit">Send</button>
      </form>
    </div>
 