<div class="backdrop is-hidden" data-review-modal>
  <div class="modal-review">
    <button class="modal-review__close-btn" type="button" data-review-close>
      <svg class="exercise-modal__close-icon close-icon">
        <use href="/img/icons.svg#modalclose" width="24" height="24"></use>
      </svg>
    </button>
    <p class="modal-title">Rating</p>
    <div class=""></div>
    <form class="modal-form">
      <input
        class="modal-input"
        type="email"
        id="user-email"
        name="user-email"
        placeholder="Email"
        pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$"
      />

      <textarea
        placeholder="Your comment"
        id="user-comment"
        name="user-comment"
        class="modal-textarea"
      ></textarea>

      <button class="modal-form__send" type="submit">Send</button>
    </form>
  </div>
</div>
