  <div class="backdrop" data-modal>
    <div class="modal">
      <button type="button" class="modal-bt" data-modal-close>
        <svg class="modal-icon" width="24" height="24">
          <use href="./img/icons.svg#"></use>
        </svg>
      </button>
    <form class="modal-form">
        <label class="modal-label" for="user-email">Email</label>
          <div class="modal-type-form">
            <input
              class="modal-input"
              type="email"
              id="user-email"
              name="user-email"
            />
            <svg class="svg-modal" width="24" height="24">
              <use href="./img/icons.svg#icon-Star"></use>
            </svg>
          </div>
        </div>
        <div class="modal-type-textarea">
          <label class="modal-label" for="user-comment">Your comment</label>
          <textarea
            placeholder="Text input"
            id="user-comment"
            name="user-comment"
            class="modal-textarea"
          ></textarea>
        </div>
        <button class="modal-btn" type="submit">Send</button>
      </form>
    </div>
 