<header class="header">
  <div class="header__container container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">
        <svg width="132" height="24">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button type="button" class="header__button-open" mobile-menu-open>
        <svg width="32" height="32">
          <use href="./img/icons.svg#icon-menu-01"></use>
        </svg>
      </button>

      <ul class="header__menu">
        <li class="header__home">
          <a href="./index.html" class="header__menu-link">Home</a>
        </li>
        <li class="header__favorites">
          <a href="./favourite.html" class="header__menu-link">Favorites</a>
        </li>
      </ul>

      <ul class="header__soc">
        <li>
          <a
            class="header__soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header__soc-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header__soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header__soc-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header__soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header__soc-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
