<header class="container header">
    <div>

        <!-- logo -->
        <a href="/" class="header__logo">
            <svg>
                <use href="../img/icons.svg#icon-logo"></use>
              </svg>
        </a>

        <!-- menu -->
            <ul class="header__menu">
                <li><a href="../index.html" class="header__menu__link">Home</a>
                </li>
                <li><a href="../favourite.html" class="header__menu__link">Favorites</a></li>
            </ul>

            <!-- social links -->
            <ul class="header__soc">
                <li>
                    <a href="" class="header__soc__link">
                        <svg class="header__soc__icon" width="40" height="40">
                            <use href="../img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="header__soc__link">
                        <svg class="header__soc__icon" width="40" height="40">
                            <use href="../img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="header__soc__link">
                        <svg class="header__soc__icon" width="40" height="40">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
    </div>
    
</header>