<section class="hero">
  <div class="hero__section container">
 <div class="hero__main-content-wrap">
     <div class="hero__section-head">
      <img
        src="../img/hero/hero-sun.png"
        alt="sun"
        width="60"
        height="60"
        class="hero__icon"
        srcset="./img/hero/hero-sun.png 1x, ./img/hero/hero-sun2x.png 2x"
      />
      <h1 class="hero__header">
        <span class="hero__header-helper"> Get <span class="hero__header-body">Body</span> in</span><br></span> shape,
        Stay healthy
      </h1>

      <p class="hero__text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>

    <div class="hero__hash-section hero__hash-container">
    
       <img
        src="./img/hero/hero-legs-desk.jpg"
        srcset="
          ./img/hero/hero-legs-desk.webp 1x,
          ./img/hero/hero-legs-desk2x.webp 2x
        "
        alt="women jogging together"
        class="hero__hash-img"
      />

      <ul class="hero__hash-list">
        <li class="hero__hash-item">
          
              <div class="hero__hash-wrap"> #Sport</div>
        </li>
        <li class="hero__hash-item">
         
              <div class="hero__hash-wrap">  #Healthy</div>
        </li>
        <li class="hero__hash-item hero__hash-item_pd">
          <div class="hero__hash-wrap"> #Workout</div>
        
        </li>
        <li class="hero__hash-item">
          <div class="hero__hash-wrap">    #Diet </div>
        </li>
      </ul>
    </div>
 
 </div>

  <div class="hero__main-img-wrap">
    <picture>
      <source
        media="(min-width: 1440px)"
        type="image/webp"
        srcset="
          ./img/hero/hero-women-desk.webp   1x,
          ./img/hero/hero-women-desk2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ./img/hero/hero-women-tab.webp   1x,
          ./img/hero/hero-women-tab2x.webp 2x
        "
      />

      <source
        media="(max-width: 767px)"
        type="image/webp"
        srcset="
          ./img/hero/hero-women-mob.webp   1x,
          ./img/hero/hero-women-mob2x.webp 2x
        "
      />

      <img
        src="./img/hero/hero-women-mob.jpg "
        srcset="
          ./img/hero/hero-women-mob.jpg 1x,
          ./img/hero/hero-women-mob.jpg 2x
        "
        alt="women jogging together"
        class="hero__main-image"
      />
    </picture>
  </div>

  <ul class="hero__block-list">
    <li class="hero__block-item"><div class="hero__block-div">#Sport</div></li>
    <li class="hero__block-item">
      <div class="hero__block-div">#Healthy</div>
    </li>
    <li class="hero__block-item">
      <div class="hero__block-div">#Workout</div>
    </li>
    <li class="hero__block-item"><div class="hero__block-div">#Diet</div></li>
  </ul>

 </div>
</section>
