<section class="hero container">
  <div class="hero__section">
    <div class="hero__section-head">
      <div class="hero__section-head2">
        <img
          src="./img/hero/hero-sun.png"
          alt="sun"
          srcset="./img/hero/hero-sun.png 1x, ./img/hero/hero-sun2x 2x"
        />
        <h1 class="hero__header">
          Get <span class="hero__header-body">Body</span> in shape, Stay healthy
        </h1>
      </div>

      <p class="hero__text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
    <div class="hero__section-button">
      <img
        class="hero__section-img"
        src="./img/hero/young-women-doing-fitness-outdoors-together 1.jpg"
      />
      <ul class="hero__button-list">
        <li class="hero__button-item">
          <div class="hero__button-div">#Sport</div>
        </li>
        <li class="hero__button-item">
          <div class="hero__button-div">#Healthy</div>
        </li>
        <li class="hero__button-item">
          <div class="hero__button-div">#Workout</div>
        </li>
        <li class="hero__button-item">
          <div class="hero__button-div">#Diet</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__image"></div>
  <ul class="hero__block-list">
    <li class="hero__block-item"><div class="hero__block-div">#Sport</div></li>
    <li class="hero__block-item">
      <div class="hero__block-div">#Healthy</div>
    </li>
    <li class="hero__block-item">
      <div class="hero__block-div">#Workout</div>
    </li>
    <li class="hero__block-item"><div class="hero__block-div">#Diet</div></li>
  </ul>
</section>
