<section class="info-section">
  <div class="container">
    <div class="quote">
      <svg class="icon-run-men" width="18" height="20">
        <use href="./img/icons.svg"></use>
      </svg>
      <h2>Quote of the day</h2>
      <blockquote>
        <!-- Додайте вашу цитату з бекенду, використовуючи шаблонні рядки та косі лапки -->
      </blockquote>
    </div>
    <div class="quote-image">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/info/info-girls-dekstop1.webp 1x,
            ./img/info/info-girls-dekstop2.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/info/info-girls-tablet.webp   1x,
            ./img/info/info-girls-tabletx2.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/info/info-girls-mobile1.webp 1x,
            ./img/info/info-girls-mobile2.webp 2x
          "
        />
        <img
          src="../img/info/info-girls-mobile1.webp"
          alt="info-girl"
          width=""
          height=""
          class=""
        />
      </picture>
    </div>
    <div class="quote-author">
      <svg class="icon-equipment" width="20" height="20">
        <use href="./img/icons.svg"></use>
      </svg>
    </div>
  </div>
</section>
