<div class="mobile__backdrop is-hidden mob-menu" mobile-menu>
  <button type="button" class="header__button_close" mob-menu-close>
    <svg width="32" height="32">
      <use href="./img/icons.svg#modalclose"></use>
    </svg>
  </button>
  <nav class="mobile__menu-nav">
    <ul class="mobile__menu-list">
      <li class="mobile__menu-item">
        <a class="mobile__menu-link" href="./index.html">Home</a>
      </li>
      <li class="mobile__menu-item">
        <a class="mobile__menu-link" href="./favourite.html">Favorites</a>
      </li>
    </ul>
  </nav>
  <ul class="mobile__soc-list">
    <li class="mobile__soc-item">
      <a
        class="mobile__soc-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile__soc-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile__soc-item">
      <a
        class="mobile__soc-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile__soc-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile__soc-item">
      <a
        class="mobile__soc-link"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile__soc-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

<script type="module" src="./js/mobile-menu.js"></script>
