<div class="rating rating_set">
  <div class="rating__value">3.6</div>
  <div class="rating__body">
    <div class="rating__active"></div>
    <div class="rating__items">
      <input type="radio" class="rating__radio" name="rating" value="1" />
      <input type="radio" class="rating__radio" name="rating" value="2" />
      <input type="radio" class="rating__radio" name="rating" value="3" />
      <input type="radio" class="rating__radio" name="rating" value="4" />
      <input type="radio" class="rating__radio" name="rating" value="5" />
    </div>
  </div>
</div>
