.skeleton-loader {
  display: block;
  position: relative;
  margin: auto;
  border-radius: 20px;
  width: 100%;
  height: 225px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  background-image: linear-gradient(
      90deg,
      transparent,
      #ddd 50%,
      transparent 100%
    ),
    linear-gradient(90deg, transparent, #ddd 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 75px 175px, 80% 45px;
  background-position: -185px 0, center center;
}

.skeleton-loader::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  animation: animloader linear 1s infinite;
}

.exercises__image-skeleton {
  fill: #d4d4d4;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
}

.exercises {
  padding-top: 40px;
  padding-bottom: 80px;
}

.exercises__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercises__title {
  margin-bottom: 20px;
  color: var(--dark-color);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.56px;
}

.exercises__filter-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 28px;
}

.exercises__filter-btn {
  position: relative;
  background-color: transparent;
  padding: 0;
  color: rgba(36, 36, 36, 0.6);
  line-height: 1.43;
}

.exercises__filter-btn:disabled {
  color: #d4d4d4;
  cursor: not-allowed;
}

.exercises__filter-btn_active {
  color: var(--dark-color);
}

.exercises__filter-btn_active::after {
  display: block;
  position: absolute;
  transition: width var(--transition);
  margin-top: 4px;
  border-radius: 2px;
  background-color: var(--dark-color);
  width: 100%;
  height: 4px;
  content: '';
}

.exercises__filter-card {
  margin-bottom: 20px;
}

.exercises__filter-cards-list {
  min-height: 500px;
}

.exercises__filter-img-container {
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  height: 225px;
}

.exercises__filter-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 92.5px;
}

.exercises__filter-category {
  color: var(--accent-color);
  font-size: 20px;
  margin-bottom: 3px;
  line-height: 1;
  text-align: center;
}

.exercises__filter-name {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercises__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.exercises__pagination-item {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: #d4d4d4;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.8px;
}

/* .exercises__pagination-btn:disabled {
  cursor: not-allowed;
  border: none;
  color: #d4d4d4;
} */

.exercises__pagination-item_active {
  border: 1px solid var(--dark-color);
  border-radius: 50%;
  padding: 6px 10px;
  color: var(--dark-color);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background: var(--white-color);
  padding: 16px;
  color: var(--dark-color);
  font-weight: 400;
  font-size: 12px;
  width: 100%;
}
.card__top,
.card__middle,
.card__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__top {
  justify-content: space-between;
  gap: var(--gap);
  padding-bottom: 27px;
}
.card__middle {
  gap: var(--gap);
  padding-bottom: 8px;
}
.card__bottom {
  gap: 10px;
  flex-wrap: wrap;
  /* font-size: 9px; */
}

.card_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
  padding: 5px 7.5px;
  width: 75px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.card_rating {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 2px;
}
.card__text,
.card_rating span,
.card__btn {
  line-height: 1.5;
}
.card_rating svg {
  fill: var(--orange-color);
  width: 18px;
  height: 18px;
}

.card__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--gap) / 2);
  background-color: transparent;
  padding: 0;
  width: 58px;
  height: 24px;
  font-size: var(--font-size);
}

.card__btn-arrow {
  stroke: #242424;
}

.card__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  width: 260px;
}

.card__title-svg {
  fill: var(--accent-color);
  background-color: var(--dark-color);
  border-radius: 50%;
}

.card__text span {
  opacity: 0.4;
}
.exercises__cards-list {
  display: flex;
  justify-content: space-between;
  column-gap: var(--gap);
  row-gap: calc(var(--gap) * 2);
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.exercises__item-card {
  width: calc((100% - 16px) / 1);
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .exercises__skeleton-loader {
    width: calc((100% - 30px) / 3);
  }
  .exercises {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .exercises__title {
    font-size: 44px;
    line-height: 1.09;
    letter-spacing: -0.88px;
  }

  .exercises__filter-list {
    margin-bottom: 32px;
  }
  .exercises__filter-btn {
    font-size: 16px;
    line-height: 1.5;
  }

  .exercises__filter-category {
    font-size: 24px;
  }

  .exercises__filter-cards-list {
    display: flex;
    column-gap: 15px;
    row-gap: 32px;
    flex-wrap: wrap;
  }

  .exercises__filter-card {
    width: calc((100% - 30px) / 3);
  }

  .exercises__pagination-item {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.96px;
  }

  .exercises__pagination-item_active {
    padding: 0px 9px;
  }
  .exercises__item-card {
    width: calc((100% - 16px) / 2);
  }
  .card__title {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .exercises {
    padding-bottom: 132px;
    width: 900px;
  }
  .exercises__title {
    display: none;
  }

  .exercises__nav {
    display: flex;
    gap: 300px;
    justify-content: end;
  }

  .main {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .exercises__filter-img-container {
    height: 242px;
  }
  .card__title {
    width: 345px;
  }

  /* .exercises__filter-cards-list {
    min-height: 1064px;
  } */
}

@keyframes animloader {
  to {
    background-position: 315px 0;
  }
}
/* -------Input-search ---------*/
.exercises__input-div {
  margin-top: 40px;
  position: relative;
}

.exercises__filter-search-input {
  border-radius: 30px;
  border: 1px solid var(--dark-color);
  padding: 12px 14px 12px 14px;
  width: 100%;
  max-width: 335px;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  transition: 0.8s;
}

.exercises__filter-search-input:hover,
.exercises__filter-search-input:focus {
  outline: 1.5px solid var(--dark-color);
}

.exercises__form-submit-btn {
  position: absolute;
  background: transparent;
  border: none;
  top: 21px;
  transform: translateY(-50%);
  right: 15px;
  padding: 0;
}
.exercises__form-submit-icon {
  stroke: var(--dark-color);
  fill: transparent;
  width: 18px;
  height: 18px;
}

.exercises__form-reset-btn {
  position: absolute;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  padding: 0;
}

.exercises__form-reset-btn-icon {
  stroke: var(--dark-color);
  fill: transparent;
}

@media (min-width: 768px) {
  .exercises__input-div {
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 271px;
  }

  .exercises__filter-search-input {
    width: 271px;
    font-size: 16px;
  }

  .exercises__form-submit-btn {
    top: 23px;
    right: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises__heading-wrap {
    gap: 31px;
  }

  .exercises__input-div {
    margin: 0;
  }
}
