.exercise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 90%;
  border-radius: 20px;
  color: var(--accent-color);
  background-color: var(--dark-color);
  overflow: auto;
  padding: 40px 20px;
}

.exercise-modal__close-btn:hover .exercise-modal__close-icon,
.exercise-modal__close-btn:focus .exercise-modal__close-icon {
  filter: drop-shadow(-1px 1px 5px rgba(254, 254, 254, 0.835));
}

.exercise-modal__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}

.exercise-modal__close-icon {
  width: 28px;
  height: 28px;
  fill: var(--accent-color);
}

.exercise-modal-tumb {
  padding-bottom: 40px;
}

.exercise-modal__img {
  display: block;
  width: 295px;
  height: 258px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.exercise-modal__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--accent-color);
  letter-spacing: -0.02em;
}

.exercises-modal__rating-body {
  position: relative;
  width: 60px;
  font-size: 12px;
}

.exercise-modal-rating__number {
  margin-bottom: 28px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--accent-color);
}

.exercise-modal-rating__number::before {
  content: '★★★★★';
  display: block;
  color: rgba(244, 244, 244, 0.2);
  position: absolute;
  left: 20.7px;
  border-radius: 30px;
}
.exercise-modal__rating_active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 1.5px;
  left: 20.3px;
  overflow: hidden;
}

.exercise-modal__rating_active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--orange-color);
  border-radius: 30px;
}

.exercise-modal-tumb_list {
  margin-bottom: 28px;
}

.exercise-modal-tumb_list::before,
.exercise-modal-tumb_list::after {
  content: '';
  display: block;
  width: 100%;

  height: 0px;
  border: 1px solid rgba(244, 244, 244, 0.2);
  transform: translateY(-8px);
}

.exercise-modal-tumb_list::after {
  transform: translateY(8px);
}

.exercise-modal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exercise-modal-list__title {
  letter-spacing: -0.02em;
  font-weight: 400;
  color: var(--accent-color);
  opacity: 0.4;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.5;
}

.exercise-modal-list__text,
.exercise-modal__description {
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: -0.02em;
}

.exercise-modal__description,
.exercise-modal__description {
  opacity: 0.6;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

.exercise-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  letter-spacing: -0.02em;
}

.exercise-modal-button:last-child {
  margin-right: 0;
}

.exercise-modal-button__favorite,
.exercise-modal-button__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 42px;
  gap: 6px;
  border-radius: 30px;
  border: 1px solid transparent;
  letter-spacing: -0.02em;
  transition: all var(--transition);
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.exercise-modal-button__favorite:hover,
.exercise-modal-button__favorite:focus,
.exercise-modal-button__remove:hover,
.exercise-modal-button__remove:focus {
  background-color: var(--dark-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.exercise-modal-button__favorite:hover .modal-exercise-heart-icon,
.exercise-modal-button__favorite:focus .modal-exercise-heart-icon {
  fill: transparent;
  stroke: var(--accent-color);
}

.exercise-modal-button__rating {
  width: 122px;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: all var(--transition);
}

.exercise-modal-button__rating:hover,
.exercise-modal-button__rating:focus {
  background-color: var(--accent-color);
  color: var(--dark-color);
  border: none;
}

.modal-exercise-heart-icon {
  width: 18px;
  height: 18px;
  stroke: var(--dark-color);
  fill: transparent;
  transition: stroke var(--transition);
  align-self: flex-end;
}

.exercise-modal-button__remove {
  border-radius: 30px;
  border: 1px solid transparent;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--accent-color);
  color: var(--dark-color);
  transition: all var(--transition);
  width: 167px;
  height: 42px;
}

.exercise-modal-button__favorite.is-hidden,
.exercise-modal-button__rating.is-hidden,
.exercise-modal-button__remove.is-hidden {
  display: none;
}

.exercise-modal-button__remove-icon {
  width: 20px;
  height: 20px;
  stroke: var(--dark-color);
  fill: transparent;
  transition: fill var(--transition), stroke var(--transition);
}

.exercise-modal-button__remove:hover .exercise-modal-button__remove-icon,
.exercise-modal-button__remove:focus .exercise-modal-button__remove-icon {
  fill: transparent;
  stroke: var(--accent-color);
}

@media screen and (min-width: 375px) {
  .exercise-modal {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .exercise-modal {
    width: 704px;
    padding: 32px;
  }

  .exercise-modal__close-btn {
    right: 16px;
    top: 16px;
    width: 28px;
    height: 28px;
    transition: filter var(--transition);
  }

  .exercise-modal__content {
    width: 644px;
    display: flex;
    flex-direction: row;
  }

  .exercise-modal-tumb {
    display: flex;
    flex-direction: row;
    padding-bottom: 64px;
    gap: 28px;
  }

  .exercise-modal__img {
    margin-bottom: 0px;
    width: 270px;
  }

  .exercise-modal__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
  }

  .exercise-modal-rating__number {
    margin-bottom: 24px;
  }

  .exercise-modal-tumb_list {
    align-content: space-around;
    margin-bottom: 24px;
  }

  .exercise-modal-list {
    gap: 16px;
  }

  .modal-exercise-heart-icon {
    width: 20px;
    height: 20px;
    padding-top: 3px;
  }

  .exercise-modal-button {
    justify-content: flex-start;
  }

  .exercise-modal-button__favorite,
  .exercise-modal-button__rating {
    width: 183px;
    font-size: 16px;
  }

  .exercise-modal-button__rating {
    width: 122px;
  }

  .exercise-modal-button__remove {
    font-size: 16px;
    width: 228px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-modal {
    width: 708px;
  }
}
