
.js-backdrop.is-hidden {
    z-index: 696969;
    width: 100%;
    height: 100%;
    background-color: #04040466;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }
  
  .js-backdrop {
    z-index: 9999;
  }
  
  
  .exercise-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ); 
    width: 335px;
    /* z-index: 10000; */
    padding: 40px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--accent-color);
    background-color: var(--dark-color);
  }
  
  
    @media screen and (min-width: 768px) {
      .exercise-modal {
       width: 704px;
      padding: 32px;
    }
    }
  
    @media screen and (min-width: 1440px) {
      .exercise-modal {
       width: 708px;
    }
  }
  
  .exercise-modal__close-btn{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: block;
    background-color:  transparent;
    border: none;
    padding: 0;}
  
    @media screen and (min-width: 768px) {
      .exercise-modal__close-btn{
       width: 28px;
      height: 28px;
    }
     
  }
  
  .exercise-modal__close-icon{
  fill: var(--accent-color);
  
    @media screen and (min-width: 768px) {
      width: 28px;
      height: 28px;
    }
  }
  
  .exercise-modal__content {
    display: flex;
    flex-direction: column;
  }