.footer {
  background-color: var(--dark-color);
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer__logo {
  width: 132px;
  height: 24px;
  fill: var(--accent-color);
  margin-bottom: 20px;
}
.footer__soc-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
.footer__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.footer__soc-item {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  transition: background-color var(--transition), opacity var(--transition);
}
.footer__soc-icon {
  fill: var(--accent-color);
  transition: fill var(--transition), opacity var(--transition);
}

.footer__soc-item:hover {
  background-color: var(--accent-color);
  opacity: 0.8;
}
.footer__soc-link:hover .footer__soc-icon {
  fill: var(--dark-color);
  opacity: 0.8;
}
.footer__form-title {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}
.footer__title-span {
  font-style: italic;
}
.footer__form-subtitle {
  color: var(--accent-color);
  font-size: 14px;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__input {
  display: block;
  border-radius: 30px;
  height: 42px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 12px 0px 12px 14px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.footer__input:focus {
  outline: 1px solid var(--accent-color);
  box-shadow: 1px 1px 4px 3px rgba(244, 244, 244, 0.843);
}

.footer__input:focus::placeholder {
  font-size: 12px;
  transition: font-size var(--transition);
}
.footer__input::placeholder {
  color: var(--accent-color);
  opacity: 0.6;
  font-size: 14px;
}
.footer__btn {
  border-radius: 30px;
  background: var(--accent-color);
  width: 100%;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--dark-color);
  font-size: 14px;
  margin-bottom: 100px;
  transition: box-shadow var(--transition);
}

.footer__btn:hover,
.footer__btn:focus {
  box-shadow: 3px 0px 17px 2px #c6cdd1;
  transition: var(--transition);
}
.footer__policy-block {
  color: #c6cdd1;
  font-size: 14px;
  letter-spacing: -0.28px;
  opacity: 0.9;
  text-align: center;
  justify-content: space-between;
}
.footer__reserved {
  margin-bottom: 10px;
  text-align: left;
}
.footer__privacy-wrap {
  display: flex;
  justify-content: space-between;
}

.footer__reserved-span {
  margin-left: 8px;
  margin-right: 8px;
}
@media screen and (min-width: 375px) {
  .footer__container {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .footer__soc-form-wrapper {
    display: flex;
    gap: 75px;
  }
  .footer {
    padding: 64px 32px 32px 32px;
  }

  .footer__logo {
    margin-bottom: 32px;
  }

  .footer__soc-icon {
    width: 28px;
    height: 28px;
  }

  .footer__sub-form-wrapper {
    width: 350px;
  }
  .footer__form-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -1.12px;
  }

  .footer__form-subtitle {
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
  }

  .footer__input {
    height: 48px;
  }
  .footer__input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__btn {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
  }
  .footer__policy-block {
    display: flex;
  }

  .footer__privacy-wrap {
    gap: 208px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__soc-form-wrapper {
    display: flex;
    gap: 158px;
  }

  .footer__container {
    max-width: 1408px;
    padding: 64px 32px 32px 32px;
  }

  .footer__form-block {
    display: flex;
    gap: 158px;
  }

  .footer__form-subtitle {
    margin-top: 0;
  }
  .footer__form {
    width: 350px;
  }

  .footer__sub-form-wrapper {
    flex-direction: column;
    width: 350px;
  }
  .footer__policy-block {
    display: flex;
    justify-content: flex-start;
  }
  .footer__reserved {
    margin-right: 136px;
  }
  .footer__privacy-wrap {
    gap: 515px;
  }
}
