.modal-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  min-height: 357px;
  border-radius: 20px;
  background: var(--dark-color);
  padding: 40px 20px 40px 20px;
}

.modal-title {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.modal-input,
.modal-textarea {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 12px 14px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: inherit;
}

.modal-input:focus::placeholder,
.modal-textarea:focus::placeholder {
  font-size: 12px;
  transition: font-size var(--transition);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: 1px solid var(--accent-color);
  box-shadow: 1px 1px 4px 3px rgba(244, 244, 244, 0.843);
}

.modal-input {
  border-radius: 30px;
  margin-top: 20px;
}
.modal-textarea {
  border-radius: 15px;
  height: 93px;
  resize: none;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: var(--accent-color);
  opacity: 0.6;
  font-size: 14px;
}

.modal-form__send {
  border-radius: 30px;
  background: var(--accent-color);
  width: 100%;
  padding: 12px 0;
  color: var(--dark-color);
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-form__send:hover,
.modal-form__send:focus {
  box-shadow: 3px 0px 17px 2px #c6cdd1;
  transition: var(--transition);
}

.modal-form__send:focus {
  outline: 0.5px solid var(--dark-color);
}
.modal-review__close-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal-review__close-btn:hover .exercise-modal__close-icon,
.modal-review__close-btn:focus .exercise-modal__close-icon {
  filter: drop-shadow(-1px 1px 5px rgba(254, 254, 254, 0.835));
}

.close-icon {
  width: 28px;
  height: 28px;
  stroke: var(--accent-color);
}

.rating {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.rating__body {
  position: relative;
}
.rating__body::before {
  content: '★★★★★';
  display: block;
  color: rgba(244, 244, 244, 0.2);
  opacity: 0.2;
}
.rating__value {
  width: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #f4f4f4;
  text-align: center;
}
.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width var(--transition);
}
.rating__active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.rating__radio {
  flex: 0 0 20%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.rating.is-hidden {
  display: none;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .modal-review {
    width: 430px;
    min-height: 412px;
    padding: 40px;
  }

  .modal-input {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .modal-textarea {
    height: 106px;
    margin-bottom: 32px;
  }

  .modal-review__close-btn {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
}
