.modal-review {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 335px;
min-height: 357px;
border-radius: 20px;
background: var(--dark-color); 
}

.modal-title {
  color: rgba(244, 244, 244, 0.40);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.modal-input,
.modal-textarea {
  display: block;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 12px 14px; /* Уберите нули перед px */
  width: 100%;
  margin-bottom: 20px;
  color: var(--accent-color); /* Добавьте цвет текста */
  font-size: 14px;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: var(--accent-color);
  opacity: 0.6;
  font-size: 14px;
}

.modal-form__send {
  border-radius: 30px;
  background: var(--accent-color);
  width: 100%;
  padding: 12px 0; /* Уберите нули перед px */
  color: var(--dark-color);
  font-size: 14px;
  margin-bottom: 20px; /* Снизьте отступ до 20px для лучшего выравнивания с другими элементами */
}

.modal-review__close-btn {
  background-color: transparent;
  /* position: absolute; */
  top: 0;
  right: 0;
}

.close-icon {
  width: 28px;
  height: 28px;
  stroke: var(--accent-color);
}