body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    margin: 0;
  }
  
  .rating-form {
    width: 335px;
    height: 357px;
    border-radius: 20px;
    background: #242424;
    color: rgba(244, 244, 244, 0.40);
    font-family: "Neue Montreal", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
    position: relative;
  }
  
  .close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 14px;
    color: #f4f4f4;
    cursor: pointer;
  }
  
  .rating-label {
    margin-top: 20px;
  }
  
  .rating-number {
    margin-top: 10px;
  }
  
  .stars {
    display: flex;
    margin-top: 20px;
  }

  .star {
    width: 24px;
    height: 24px;
    fill: rgba(244, 244, 244, 0.20);
    margin: 0 6px;
    transition: fill 0.3s; /* Додайте перехід для плавного змінювання кольору */
  }
  
  .star:hover {
    fill: #f4f4f4; /* Змініть колір на білий при наведенні курсора */
  }


  .email-input {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #333;
    color: #f4f4f4;
    border-radius: 5px;
  }
  
  .text-area {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #333;
    color: #f4f4f4;
    border-radius: 5px;
  }
  
  .send-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }