.btn {
  background-color: #ffffff;
  width: 60px;
  height: 32px;
  border-radius: 30px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
}
.btn__indicator {
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__icon {
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
}
.darkmode .btn__indicator {
  transform: translateX(25px);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 3);
}
body.darkmode {
  background-color: var(--dark-color);
  color: #fff;
}
.darkmode .btn__icon {
  fill: #fff;
}
.darkmode .btn {
  box-shadow: inset 8 0px 60px rgba(0, 0, 0, 0.3),
    inset 0 -4px 4px rgba(0, 0, 0, 0.3);
}
.hero {
  padding-top: 80px;
}

.hero__hash-section {
  display: none;
}

.hero__header {
  font-size: 39px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}

.hero__section-head {
  position: relative;
}

.hero__icon {
  position: absolute;
  top: 3px;
  width: 38px;
  height: 38px;
}

.hero__header-helper {
  padding-left: 40px;
}
.darkmode .hero__text {
  color: var(--ligth-color);
}

.hero__text {
  color: var(--dark-color);
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}
.darkmode .hero__text {
  color: var(--light-color);
}
.hero__main-image {
  height: 450px;
  border-radius: 30px;
  margin: 0 auto;
}

.hero__block-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.hero__block-item:not(:last-child) {
  margin-right: 6px;
}
.darkmode .hero__block-div {
  border-color: 1px solid var(--ligth-color);
}
.hero__block-div {
  padding: 4px 16px;
  border-radius: 30px;
  border: 1px solid var(--dark-color);
}

.hero__header-body {
  font-size: 39px;
  font-style: italic;
}

.hero__section-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn {
    margin: 0;
  }
  .hero {
    padding-top: 100px;
  }

  .hero__block-list {
    justify-content: flex-end;
  }

  .hero__header-helper {
    padding-left: 60px;
  }

  .hero__icon {
    top: 5px;
    width: 60px;
    height: 60px;
  }

  .hero__header {
    font-size: 74px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.48px;
  }

  .hero__header-body {
    font-size: 74px;
    font-style: italic;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.48px;
  }

  .hero__text {
    width: 603px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  .hero__main-image {
    height: 550px;
  }

  .hero__block-item {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-bottom: 64px;
  }

  .hero__main-content-wrap {
    display: flex;
  }

  .hero__main-image {
    height: 350px;
  }

  .hero__block-list {
    display: none;
  }

  .hero__hash-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 185px;
  }

  .hero__hash-item {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero__hash-item_pd {
    padding-left: 4px;
  }

  .hero__hash-wrap {
    border-radius: 30px;
    border: 1px solid var(--dark-color);
    padding: 4px 16px;
  }

  .hero__hash-section {
    display: block;
    margin-left: auto;
  }

  .hero__hash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .hero__hash-img {
    width: 168px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 12px;
  }

  .hero__text {
    width: 593px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 0;
  }
}
