.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader2 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

.info__section {
  padding-bottom: 80px;
}

.info__block {
  display: flex;
  gap: 18px;
  width: 100%;
  background-color: var(--dark-color);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  min-height: 150px;
}

.info__wrapper-title {
  color: var(--accent-color);
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 500;
  line-height: 1;
}

.info__wrapper-quote {
  color: var(--accent-color);
  opacity: 0.6;
  text-align: justify;
  margin-bottom: 16px;
}
.info__wrapper-author {
  color: var(--accent-color);
}
.info__block-icon-commas {
  position: absolute;
  top: 20px;
  right: 20px;
}
.info__image-block {
  margin-bottom: 20px;
}
.info__image {
  min-height: 242px;
  border-radius: 12px;
}
.info__trhd-block {
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
}
.info__trhd-icon-equipment {
  display: block;
}
.info__trhd-block-list {
  padding-left: 16px;
}
.info__trhd-title {
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1;
}
.info__trhd-text {
  opacity: 0.6;
  margin-bottom: 16px;
}

.info__exercise {
  display: none;
}
/************ 768 ************/

@media screen and (min-width: 768px) {
  .info__section {
    margin: 0;
    padding-bottom: 100px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 16px;
  }
  .info__block {
    width: 400px;
    min-height: 225px;
    padding: 40px;
  }

  .info__image {
    width: 288px;
    min-height: 249px;
  }
  .info__wrapper-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
  }
  .info__block-icon-commas {
    top: 40px;
    right: 40px;
  }
  .info__wrapper-author {
    color: var(--accent-color);
    font-size: 16px;
    margin-top: 18px;
    line-height: 1.5;
  }
  .info__block-icon-commas {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
  }

  .info__trhd-block {
    width: 400px;
    padding: 40px;
  }

  .info__trhd-title {
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .info__exercise {
    display: block;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: -0.88px;
    margin-bottom: 12px;
  }
  .info__section {
    padding-top: 64px;
  }
  .info__heading-wrap {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .info__block {
    width: 444px;
    margin: 0;
  }
  .info__image-block {
    margin: 0;
  }
  .info__image {
    min-height: 242px;
    width: 444px;
  }
  .info__trhd-block {
    width: 444px;
  }
}

@keyframes animloader2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
