.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 24px;
}
.rating__body {
  position: relative;
}
.rating__body::before {
  content: '★★★★★';
  display: block;
  color: var(--dark-color);
  opacity: 0.2;
}
.rating__value {
  width: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #eea10c;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.rating__radio {
  flex: 0 0 20%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.rating.is-hidden {
  display: none;
}
