@import url('./reset.css');
@import url('./vars.css');
@import url('./header.css');
@import url('./mob-menu.css');
@import url('./hero.css');
@import url('./loader.css');
@import url('./exercises.css');
@import url('./info.css');
@import url('./footer.css');
@import url('./exercise-modal.css');
@import url('./form-review.css');
@import url('./favourite.css');
@import url('./scroll-up.css');

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1406px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(4, 4, 4, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  display: none;
}
